<mat-list>
  <div mat-subheader>
    <button mat-flat-button style="width: 100%;" class="listSettings" [matMenuTriggerFor]="assigneeMenu">
    Assignees<mat-icon iconPositionEnd>settings</mat-icon>
    </button>
    
    <mat-menu #assigneeMenu="matMenu">
      <input type="text" placeholder="Type or choose a user" mat-menu-item (click)="$event.stopPropagation();" [(ngModel)]="userFilter" (input)="filterUsers()">
      <mat-divider></mat-divider>

      <button mat-menu-item *ngIf="issueDetails.assignee !== null" (click)="clearAssignee()">
        <mat-icon>close</mat-icon>Clear assignees
      </button>
      <mat-divider></mat-divider>

      <!-- TODO: change to retreive only users assigned to the repo-->
      <button mat-menu-item *ngFor="let item of filteredUsers" (click)="assignUser(item.email.email)">
        <span>{{item.email.email}}</span>
      </button>
      <mat-divider></mat-divider>

    </mat-menu>
    
  </div>

  <mat-list-item *ngIf="issueDetails.assignee">
    <mat-icon matListItemIcon>person_outline</mat-icon>
    <div matListItemTitle><b>{{issueDetails?.assignee}}</b></div>
  </mat-list-item>

  <mat-list-item *ngIf="!issueDetails.assignee?.email">
    <div matListItemTitle><b>No one-<a (click)="assignUser(loggedInUser.email)" class="link-on-hover">assign yourself</a></b></div>
  </mat-list-item>

  <mat-divider></mat-divider>
  
  <!-- /////////LABELS -->
  <div mat-subheader>
    <button mat-flat-button style="width: 100%;" class="listSettings" [matMenuTriggerFor]="labelsMenu">
      Labels<mat-icon iconPositionEnd>settings</mat-icon>
    </button>

    <mat-menu #labelsMenu="matMenu" (closed)="assignLabels()">
      <input type="text" placeholder="Filter labels" mat-menu-item (click)="$event.stopPropagation();" [(ngModel)]="labelFilter" (input)="filterLabels()">
      <mat-divider></mat-divider>

      <div *ngFor="let item of filteredLabels" (click)="addLabels($event, item)">
        <button mat-menu-item>
          <div>
            <b><mat-icon [style.color]="item.color">circle</mat-icon>{{item.name}}&nbsp;<mat-icon *ngIf="isLabelClicked(item)">close</mat-icon></b>
          </div>
          <div>{{item.description}}</div>
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-menu>
    
  </div>
  <mat-list-item *ngIf="assignedLabels.length === 0">
    <div matListItemTitle><b>None yet</b></div>
  </mat-list-item>

  <mat-list-item *ngIf="assignedLabels.length !== 0">
    <div matListItemTitle>
      <span *ngFor="let assignedLabel of assignedLabels">
        <button [disabled]="true" *ngIf="assignedLabel.isClicked"
          class="label-name-div"
          [style.border]="'1px solid ' + assignedLabel.color"
          [style.border-radius]="'10px'"
          [style.background-color]="convertToRGBA(assignedLabel.color, 0.5)"
          style="color:white; font-weight: bold;">
          {{ assignedLabel.name }}                   
        </button>
      </span> 
    </div>
  </mat-list-item>

  <mat-divider style=" --mat-divider-height: 180px; "></mat-divider>

  <div mat-subheader>
    <button mat-flat-button style="width: 100%;" class="listSettings" [matMenuTriggerFor]="milestoneMenu">
      Milestone<mat-icon iconPositionEnd>settings</mat-icon>
    </button> 

    <mat-menu #milestoneMenu="matMenu">
      <input type="text" placeholder="Filter Milestone" mat-menu-item (click)="$event.stopPropagation();" [(ngModel)]="milestoneFilter" (input)="filterMilestones()">
      <mat-divider></mat-divider>
      
      <button mat-menu-item *ngIf="issueDetails.milestoneId !== null" (click)="clearMilestone()">
        <mat-icon>close</mat-icon>Clear this milestone
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item *ngFor="let item of filteredMilestones" (click)="assignMilestone(item.id)">
        <span>{{item.title}}</span>
      </button>
      <mat-divider></mat-divider>

    </mat-menu>
  </div>

  <mat-list-item *ngIf="issueDetails.milestoneId !== null">
    <div matListItemTitle>
      <mat-progress-bar mode="determinate" value="{{milestoneProgress.progress}}"/>
    </div>
  </mat-list-item>

  <mat-list-item *ngIf="issueDetails.milestoneId !== null">
    <div matListItemTitle><b>{{milestoneInfo?.title}}</b></div>
  </mat-list-item>

  <mat-list-item *ngIf="issueDetails.milestoneId === null">
    <div matListItemTitle><b>No milestone</b></div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>Development</div>
  <mat-list-item>
    <div matListItemTitle><b>Create a branch for this issue or link a pull request</b></div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>Notifications</div>
  <mat-list-item>
    <div matListItemTitle>
      <button mat-stroked-button style="background-color:rgb(108, 108, 108); color: white; width: 100%;">
        <mat-icon class="white-icon"> sentiment_satisfied_alt</mat-icon>
         Subscribe
       </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemTitle>You are not receiving notifications from this thread.</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>{{getParticipantNum()}} participant/s</div>
  <mat-list-item>
    <div matListItemTitle>
      <span *ngFor="let item of getParticipants()">
        <mat-icon matListItemIcon>person_outline</mat-icon>
        {{item.email}}
      </span>
    </div>
  </mat-list-item>

</mat-list>