<div class="header">
  <div style="display: flex; align-items: center; margin-left: 3%;">
    <button mat-raised-button [routerLink]="'../../../labels/' + repoOwnerName + '/' + repoName"> 
      <mat-icon>local_offer</mat-icon>Labels
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button style="background-color: rgb(59, 171, 252); color: white;"><mat-icon>nature</mat-icon>Milestones</button>
  </div>

  <button mat-raised-button style="background-color: rgb(62, 168, 62); color: white; margin-right: 3%;"
    [routerLink]="['new']" 
    [queryParams]="{ edit: 'false' }">
    New milestone
  </button>
</div>
