.mat-divider.mat-divider-horizontal { 
  border-top-width: 4px; 
  &.divider-2 { border-radius: 4px;} 
}

.white-icon {
    color: white;
}

.listSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
