<mat-list>
  <div mat-subheader>Assignees</div>
  <mat-list-item>
    <mat-icon matListItemIcon>person_outline</mat-icon>
    <div matListItemTitle><b>mihajloveljic</b></div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>Labels</div>
  <mat-list-item>
    <div matListItemTitle><b>None yet</b></div>
  </mat-list-item>

  <mat-divider style=" --mat-divider-height: 180px; "></mat-divider>

  <div mat-subheader>Milestone</div>
  <mat-list-item>
    <div matListItemTitle>
      <mat-progress-bar mode="determinate" value="40"/>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemTitle><b>Finalna odbrana</b></div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>Development</div>
  <mat-list-item>
    <div matListItemTitle><b>Crate a branch for this issue or link a pull request</b></div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>Notifications</div>
  <mat-list-item>
    <div matListItemTitle>
      <button mat-stroked-button style="background-color:rgb(108, 108, 108); color: white; width: 100%;">
        <mat-icon class="white-icon"> sentiment_satisfied_alt</mat-icon>
         Subscribe
       </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemTitle>You are not receiving notifications from this thread.</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader>{{participantNum}} participants</div>
  <mat-list-item>
    <div matListItemTitle>
      <mat-icon matListItemIcon>person_outline</mat-icon>
      <mat-icon matListItemIcon>person_outline</mat-icon>
    </div>
  </mat-list-item>

</mat-list>