<div>
  <mat-grid-list cols="8" rowHeight="2:1">
  <!-- Filter Button -->
  <mat-grid-tile>
    <button mat-raised-button [matMenuTriggerFor]="menu2">
      Filters
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu2="matMenu">
      <p mat-menu-item disabled>Filter Issues</p>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="filterIssues('is:open')">
        <span>Open issues and pull requests</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="filterIssues('is:open+author:@me')">
        <span>Your issues</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="filterIssues('is:open+assignee:@me')">
        <span>Everything assigned to you</span>
      </button>
      <mat-divider></mat-divider>
       
    </mat-menu>
  </mat-grid-tile>

  <!-- Input Text (taking up half the screen) -->
  <mat-grid-tile colspan="4">
    <mat-form-field>
      <input matInput placeholder="Search Issues" [value]="getQueryParamsString()"
      (keyup.enter)="searchIssuesFromInput($event.target)">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>

  <!-- Label Button -->
  <mat-grid-tile>
    <button mat-raised-button routerLink="/labels-page"><mat-icon>local_offer</mat-icon>Labels (10)</button>
  </mat-grid-tile>

  <!-- Milestones Button -->
  <mat-grid-tile>
    <button mat-raised-button><mat-icon>check_circle</mat-icon>Milestones (1)</button>
  </mat-grid-tile>

  <!-- New Issue Button -->
  <mat-grid-tile>
    <button mat-raised-button style="background-color: rgb(62, 168, 62); color: white;" 
    routerLink="/new-issue">
      New Issue
    </button>
  </mat-grid-tile>
</mat-grid-list>
</div>
