
<mat-toolbar>
    <mat-toolbar-row class="header-row">
      <button class="left-menu-btn" mat-icon-button [matMenuTriggerFor]="menu1">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button (click)="goToHome()" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button (click)="goToIsssues()" mat-menu-item>
          <mat-icon>adjust</mat-icon>
          <span>Issues</span>
        </button>
        <button (click)="goToPullRequest()" mat-menu-item>
          <mat-icon>call_merge</mat-icon>
          <span>Pull request</span>
        </button>
      </mat-menu>

      
      <span class="title">
        <img (click)="goToHome()" src="assets/images/logo.png">
        <span class="title-text" (click)="goToHome()" *ngIf="page == 'home-page'">Dashboard</span>
        <span class="title-text username" (click)="goToRepositories()" *ngIf="page != 'home-page'">{{pathUserName}}</span>
        <span class="title-text repo" (click)="goToRepositories()" *ngIf="showRepoOptions"> / {{pathRepositoryName}}</span>
      </span>

      <span class="example-spacer"></span>

      <div class="search-bar-container">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input
            matInput
            placeholder="Search for anything..."
            [(ngModel)]="searchTerm"
            name="name"
            (ngModelChange)="onSearchTermChange()">
        </mat-form-field>
      </div>


      <button mat-icon-button (click)="goToNotificationsPage()"><mat-icon>inbox</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
        <mat-icon>circle_outline</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
        <button (click)="goToPersonProfile()" mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Your profile</span>
        </button>
        <button (click)="goToRepositories()" mat-menu-item >
          <mat-icon>book</mat-icon>
          <span>Your repositories</span>
        </button>
        <button (click)="goToSettings()" mat-menu-item >
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button (click)="goToLoginPage()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>



    <mat-toolbar-row class="repo-buttons-container" *ngIf="showRepoOptions">
      <button (click)="goToCode()" mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Code</span>
      </button>
      <button (click)="goToIsssues()"  mat-menu-item>
        <mat-icon>adjust</mat-icon>
          <span>Issues</span>
      </button>
      <button (click)="goToPullRequest()" mat-menu-item>
        <mat-icon>call_merge</mat-icon>
        <span>Pull request</span>
      </button>
      <button (click)="goToSettings()" mat-menu-item *ngIf="repoUserRole > 2 && repoUserRole < 5">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

