mat-card {
    max-width: 400px;
    margin-top: 50px;
    padding: 30px 15px;
    box-shadow: none;
  }
  
  mat-form-field {
    width: 100%;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  mat-card-header{
    justify-content: center;
    flex-direction: column-reverse;
  }

  mat-card-title{
    font-size: 30px;
  }

  mat-card-subtitle{
    font-size: 22px;
    margin-top: 10px;
    font-weight: 300;
  }
  
  mat-expansion-panel-header{
    border: 1px solid rgba(0,0,0,.12);
    background-color: #F3F4F6;
  }

  mat-panel-title{
    text-decoration: none;
  }

  mat-form-field:first-of-type{
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
    width: 30%;
    padding: 20px 0px;
    font-size: 15px;
    background-color: green!important;
  }

  .register-text{
    margin-top: 20px;
  }

  .register-text a{
    font-weight: 600;
    color: #3f51b5;
  }

  .password-error-message{
    width: 100%;
    margin-left: 10px;
    color: red;
    text-align: left;
  }

  .profile-image{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .mat-expansion-panel{
    text-decoration: underline;
    margin-top: 20px;
    box-shadow: none;
  }