<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" matInput/>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput type="password" />
      </mat-form-field>
  
      <button (click)="logIn()" mat-raised-button color="primary">Login</button>
      <p class="register-text">Don't have account? <a href="/register-page">Register</a></p>
    </mat-card-content>
  </mat-card>
