<div>
  <div class="issueDetailsHeader">
    <span *ngIf="!isEditing" class="header">
      {{issueDetails?.title}}
    </span>
    <input *ngIf="isEditing" [(ngModel)]="issueTitleEdited" class="headerEditable"/>
    <div class="buttons" *ngIf="repoUserRole > 0 && repoUserRole < 5">
      <button mat-stroked-button style="background-color:rgb(108, 108, 108); color: white;"
      *ngIf="!isEditing" (click)="startEditing()">
        Edit
      </button>

      <button mat-raised-button style="background-color:rgb(58, 174, 89); color: white;"
      *ngIf="!isEditing" (click)="goToNewIssuePage()">
        New issue
      </button>

      <button mat-stroked-button style="background-color:rgb(108, 108, 108); color: white;"
      *ngIf="isEditing" (click)="confirmEditing()">
        Save
      </button>

      <button mat-stroked-button color="primary" *ngIf="isEditing" (click)="cancelEditing()">
        Cancel
      </button>
    </div>
  </div>

  <div class="issueClosedInfo">
    <button *ngIf="!issueDetails?.isOpen" mat-raised-button disabled style="background-color:rgb(200, 93, 201); color: white;">Closed</button>
    <button *ngIf="issueDetails?.isOpen" mat-raised-button disabled style="background-color:rgb(79, 231, 119); color: white;">Open</button>
    &nbsp;<b>{{issueDetails?.author?.email}}</b> opened this issue on {{ getFormatedDate(issueDetails?.createdAt) }} - <b>{{commentNum}}</b> comments
  </div>

  <div class="container">
    <div class="left-container">

      <div class="top-left">
        <app-issue-history [description]="issueDetails?.description" [author]="issueDetails?.author?.email" [createdAt]="getFormatedDate(issueDetails?.createdAt)" [issueEvents]="issueDetails?.events"></app-issue-history>
      </div>

      <div class="bottom-left">
        <h2><mat-icon>person</mat-icon> Add a comment</h2>
        <textarea name="com" id="com" cols="30" rows="8" style="width: 100%;" class="description" style="resize: none;">COMMENT TEST
        </textarea>

        <div class="openCloseIssueButton" *ngIf="repoUserRole > 0 && repoUserRole < 5">
          <button mat-raised-button *ngIf="issueDetails?.isOpen"
          (click)="openOrCloseIssue(issueDetails.id, false)"
          style="background-color:rgb(108, 108, 108); color: white;">
            <mat-icon matPrefix class="purple-icon">check_circle_outline</mat-icon>
            Close issue
          </button>

          <button mat-raised-button *ngIf="!issueDetails?.isOpen"
          (click)="openOrCloseIssue(issueDetails.id, true)"
          style="background-color:rgb(108, 108, 108); color: white;">
            <mat-icon matPrefix class="green-icon">adjust</mat-icon>
            Open issue
          </button>
        </div>
      </div>

    </div>

    <div class="right-container">
      <app-issue-assign [(issueDetails)]="issueDetails"></app-issue-assign>
    </div>

  </div>
</div>
